NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# SMTP2GO credentials
SMTP2GO_USERNAME=
SMTP2GO_PASSWORD=
SMTP2GO_FROM_EMAIL=noreply@yourdomain.com

NEXT_PUBLIC_APP_URL=http://localhost:3000
